@{
    ViewBag.Title = "About";
}
@section scripts
{
    <script>
        $(function () {
            $("#btn_login").click(function () {

                $.ajax({
                    url: "/api/Login/post?FirstName=" + $("#Name").val() + "&Password=" + $("#Password").val(),
                    type: "GET",
                    dataType: "json",
                    data: "",
                    success: function (message) {
                        console.log(message);
                        var html = "";
                        console.log(message.Data);
                        console.log(message.Data.Ticket);

                        $("#Ticket").val(message.Data.Ticket);
                    }

                });
            });

            $("#btn_get").click(function () {

                $.ajax({
                    url: "/api/person/GetAllPeople",
                    type: "get",
                    dataType: "json",
                    data: "",
                    success: function (message) {
                        console.log(message);
                        var html = "";
                        console.log(JSON.parse(message.Data));

                        $.each(JSON.parse(message.Data), function (i, v) {

                            html += "<li>";
                            html += v.Id + ":" + v.FirstName + "-" + v.LastName;
                            html += "</li>";
                        });
                        $("#div_h").html("<ul>" + html + "</ul>");
                    }

                });
            });

            $("#btn_get_id").click(function () {

                $.ajax({
                    url: "/api/person/GetPersonByID/" + $("#Id").val(),
                    type: "get",
                    dataType: "json",
                    data: "",
                    success: function (message) {

                        console.log(message);
                        console.log(message.Data);
                        console.log(JSON.parse(message.Data));
                        var model = JSON.parse(message.Data);
                        var html = "";
                        html += "<li>";
                        html += model.Id + ":" + model.FirstName + "-" + model.LastName;
                        html += "</li>";

                        $("#div_h").html("<ul>" + html + "</ul>");
                    }

                });
            });

            $("#btn_get_name").click(function () {
                var data = $("#for1").serialize(); //序列化
                $.ajax({
                    // url: "/api/person?FirstName=" + $("#FirstName").val() + "&LastName=" + $("#LastName").val(),
                    url: "/api/person/GetPersonByName",
                    type: "get",
                    dataType: "json",
                    // data: "",
                    data: data,
                    beforeSend: function (XHR) {
                        //发送ajax请求之前向http的head里面加入验证信息
                        XHR.setRequestHeader('Authorization', 'BasicAuth ' + $("#Ticket").val());
                    },
                    success: function (message) {
                        console.log(message);
                        var html = "";
                        if (message.IsSuccess==true) {
                            $.each(JSON.parse(message.Data), function (i, v) {

                                html += "<li>";
                                html += v.Id + ":" + v.FirstName + "-" + v.LastName;
                                html += "</li>";
                            });
                            $("#div_h").html("<ul>" + html + "</ul>");
                        } else {
                            $("#div_h").html("<ul><li></li></ul>");
                        }
                        
                    }

                });
            });

            $("#btn_post").click(function () {

                var data = $("#for1").serialize();

                $.ajax({
                    url: "/api/person/PostPerson",
                    data: data,
                    datatype: "json",
                    type: "post",
                    success: function (message) {
                        $("#btn_get").click();
                        if (message.IsSuccess == true) {
                            $("#btn_get").click();
                        }
                    }
                });
            });
            $("#btn_post_list").click(function () {

                var arr = [
          { FirstName: "Jim", LastName: "1988-09-11" },
          { FirstName: "Lilei", LastName: "1990-12-11" },
          { FirstName: "Lucy", LastName: "1986-01-10" }
                ];
                 
                $.ajax({
                    url: "/api/person/PostPersonList",
                    data: JSON.stringify(arr),
                    datatype: "json",
                 //   contentType: 'application/json',
                    type: "post",
                    success: function (message) {
                      
                        if (message.IsSuccess == true) {
                        //    $("#btn_get").click();
                        }
                    }
                });
            });
            $("#btn_update").click(function () {
                var data = $("#for1").serialize();
                $.ajax({
                    url: "/api/person/PutPerson",
                    data: data,
                    datatype: "json",
                    type: "put",
                    success: function (message) {
                        if (message.IsSuccess == true) {
                            $("#btn_get").click();
                        }
                    }
                });
            });

            $("#btn_delete").click(function () {

                $.ajax({
                    url: "/api/person/DeletePerson/" + $("#Id").val(),
                    //、/  data: {"":$("#Id").val()},
                    datatype: "json",
                    type: "delete",
                    success: function (message) {

                        if (message.IsSuccess == true) {
                            $("#btn_get").click();
                        } else {
                            $("#div_h").html("<ul><li>" + message.Data + "</li> </ul>");
                        }


                    }
                });
            });
        })
    </script>
}

<div class="main-content">
    <div class="sample-content">
        <fieldset>
            <legend> Login</legend>
            <form id="for_login" style="width: 320px">

                <input id="Name" name="Name" placeholder="Name" type="text" />
                <input id="Password" name="Password" placeholder="Password" type="text" />
            </form>
            <div class="ui-tabs-panel">

                <button id="btn_login" class="ui-button">Login</button>

            </div>
            <div id="div_h" class="main-content"></div>
        </fieldset>
    </div>
</div>
<div class="main-content">
    <div class="sample-content">
        <fieldset>
            <form id="for1" style="width: 320px">
                <input id="Ticket" name="Ticket" type="text" placeholder="Ticket" />
                <input id="Id" name="Id" type="text" placeholder="ID" />
                <input id="FirstName" name="FirstName"placeholder="FirstName" type="text" />
                <input id="LastName" name="LastName" placeholder="LastName"type="text" />
            </form>
            <div class="ui-tabs-panel">

                <button id="btn_get" class="ui-button">Get</button>
                <button id="btn_get_id" class="ui-button">Get_id</button>
                <button id="btn_get_name" class="ui-button">Get_name</button>
                <button id="btn_post" class="ui-button">Post</button>
                <button id="btn_post_list" class="ui-button">Post_list</button>
                <button id="btn_update" class="ui-button">Update</button>
                <button id="btn_delete" class="ui-button">Delete</button>
            </div>
            <div id="div_h" class="main-content"></div>
        </fieldset>
    </div>
</div>



